html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #03045e;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1) ), url('images/BG COMLAB.jpg');
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}